{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <p>algorithm : {{ algorithm }}</p>
    </div>
    <div>
        {% for movie in movies %}
        <p>
            {{ movie.title }}
        </p>
        {% endfor %}
    </div>

    <div>
        <a href="{{ path('index') }}">return</a>
    </div>

{% endblock %}